.selected {
  background-color: #CFD8DC !important;
  color: #9AACB3;
}
.robots {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 10em;
}
.robots li {
  cursor: pointer;
  position: relative;
  background-color: #293EB3;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  border-radius: 6px;
}
.robots li:hover {
  color: #293EB3;
  background-color: #DDD;
  left: .1em;
}
.robots li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.robots .text {
  position: center;
}
.robots .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #0008FF;
  line-height: 1em;
  position: center;
}
button {
  font-family: Arial;
  color: #fff;
  background-color: #BD3A3A;
  border-radius: 10%;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  color: #BD3A3A;
  background-color: #fff;
}

/*
Brandon Oden
3/17/2016
 */